# --- Github default for CodeIgniter ---
*/config/development
*/logs/log-*.php
!*/logs/index.html
*/cache/*
!*/cache/index.html
!*/cache/.htaccess

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*

#codeigniter 3
application/logs/*
!application/logs/index.html
!application/logs/.htaccess
/vendor/

# --- CodeIgniter default ---
.DS_Store

application/cache/*
!application/cache/index.html

application/logs/*
!application/logs/index.html

!application/*/.htaccess

composer.lock

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/

# --- VSCode ---
.vscode
/mta_archives/
fioriHtmlRunner.html
.*/fioriHtmlRunner.html
visual_ext_index.html
/webapp/visual_ext_index.html
extended_runnable_file.html
.*/extended_runnable_file.html
sap-ui-cachebuster-info.json
mock_preview_sapui5.html
.*/mock_preview_sapui5.html
UIAdaptation_index.html
changes_preview.js
AppVariant_index.html
AppVariantPreviewPayload.zip
mergedManifestDescriptor.json
APIExternalProducer.js
.*/APIExternalProducer.js